{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" action="/">

    <input type="text" name="first_vector">
    <input type="text" name="second_vector">
    <input type="submit">

</form>

</body>
</html>